.main{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1em;
}

.card1 {
    width: 30%;
}

.price{
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
    width: 100%;
    
}

.our{
    font-size: 5em;
    color: black;
    font-family: segoe script;
    font-weight: 900;
    margin-top: 50px;
    text-shadow: 5px 5px 5px rgb(110, 6, 6);
}

@media screen and (min-width: 768px) and (max-width:991.999px) {
    .card1 {
        width: 40%;
    }
    
}

@media screen and (max-width: 767.999px) {
    .card1 {
        width: 80%;
        
    }
    .our{
        font-size: 3em;
    }
}