<div class="about-main">
    <h2>ABOUT US</h2>
    <div class="about-sub">
        <div class="box1">
            <div class="sub1">
                <img  src="./assets/pictures/img2.jpg" alt="">
                <div class="text">
                    <h2><< OUR CONCEPT >></h2>
                    <p>Everybody knows pizza. Originating in Naples, it is the typical traditional dish of the city at the slopes of Mount Vesuvius, a synonym for the culinary arts of every pizza chef, his pride and joy</p>
                    <p>“O’ pizzaiuolo” was the seller, an ancient profession that emerged long before the pizza was created as we know it today. Originally, pizza meant a flatbread made from wheat and without yeast, topped with oil, anchovies, cheese and, later, tomatoes. The pizzaiuolo put the dough into a wood-¬‐fired oven and – “alluccando, alluccando” (shouting) “A’ pizza a’ pizza” (“Pizzaaa! Pizzaaa!”) – sold the finished flatbread to passers-¬‐by of his stand, usually located in the Gambero Rosso, the heart of Naples.</p>
                </div>
            </div>
        </div>
        <div class="box2">
            <div class="sub1">
                
                <div class="text">
                    <h2><< DINING EXPERIENCE >></h2>
                    <p>The Gambero Rosso was the bustling main street of the city, where “noble ladies and rich folk” showed off in fashionable carriages. The patricians loved to eat pizza closely watched by merchants, vendors and singers with their mandolins.</p>
                    <p>Starting out from the Gambero Rosso of the past, we have set our heart at reviving the tradition, taste and aroma of former times in our products.</p>
                    <p>We are proud to offer our pizzas in the heart of your city. IGT, IGP, DOP, DOC and DOCG are not just designations – they authenticate and guarantee the quality of our products.</p>
                </div>
                <img  src="./assets/pictures/img1.jpg" alt="">
            </div>
        </div>
    </div>
</div>
