<h1 class="name">Ristorante Il Gambero Rosso</h1>
<div class="home-main">
    <div  class="home-left">
        <img src="./assets/pictures/res1.jpg" alt="">
    </div>
    <div class="home-right">
        <p class="h4" >Yes, we entered the heart of the Austrians on tiptoe and baking.
            Gambero Rosso is the landing place of a route that started from afar, made of smells, sensations, and indelible memories.</p>
        <p>The selection of the best raw materials, knowledge, and infinite passion, allow me to create a product well rooted in tradition, which consciously embraces the wind of gastronomic innovation, and at the same time caresses the palate, softly and intensely, with sensations of incomparable flavors.</p>
        <p>Hazelnut notes, on the other hand, distinguish the aromas of the final filling. Intense is a rich and complete formula, which allows, with the different kneading techniques and long maturation, to obtain a highly digestible pizza with a sublime taste.</p>
        <ul>
            <li>Laudongasse 13, 1080 Wien, Austria</li>
            <li>+43 0.755.1672, info@Rosso.at</li>
            <li>Monday – Sunday 12:00 until 22:00</li>
        </ul>
        <p> The use of the best raw materials and its dough with a very high moisture content give its pizza an unprecedented lightness and digestibility.</p>
    </div>
</div>
